<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>zaster</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.2/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma/css/bulma.css">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="app">
    <header>
        <h1>zaster</h1>
    </header>
    <main class="container">
        <section id="overview" class="box">
            Überblick und Reports
        </section>
        <section class="box">
            <div id="add-entry-container" class="field is-grouped">
                <p id="new-entry-type" class="control has-icons-left">
                    <span class="stretched select">
                        <select v-model="newEntry.type" class="stretched" title="Art wählen">
                            <option disabled selected value="">Art</option>
                            <option v-for="(value, key) in choices.types" :value="key">{{ value }}</option>
                        </select>
                    </span>
                    <span class="icon is-small is-left">
                        <i class="fa fa-info-circle"></i>
                    </span>
                </p>
                <p class="control has-icons-left">
                    <input v-model="newEntry.amount" id="new-entry-amount" class="stretched input" type="number" placeholder="Wert">
                    <span class="icon is-small is-left">
                        <i class="fa fa-euro-sign"></i>
                    </span>
                </p>
                <p id="new-entry-title" class="control has-icons-left">
                    <input v-model="newEntry.title" class="stretched input" type="text" placeholder="Name">
                    <span class="icon is-small is-left">
                        <i class="fa fa-quote-right"></i>
                    </span>
                </p>
                <p class="control has-icons-left">
                    <span class="stretched select">
                        <select v-model="newEntry.category" class="stretched" title="Kategorie wählen">
                            <option disabled selected value="">Kategorie</option>
                            <option v-for="(value, key) in choices.categories" :value="key">{{ value }}</option>
                        </select>
                    </span>
                    <span class="icon is-small is-left">
                        <i class="fa fa-list"></i>
                    </span>
                </p>
                <div class="control">
                    <button v-on:click="createNewEntry" class="stretched button is-primary">Absenden</button>
                </div>
            </div>
        </section>
        <section id="list" class="box">
            <div v-for="entry in entries" class="entry-container notification">
                <span class="entry-amount tag is-large" :class="{'is-danger' : (entry.type == 'expense'), 'is-success' : (entry.type == 'income')}">
                    {{ currency }} {{ entry.amount }}
                </span>
                <span class="entry-title">
                    {{ entry.title }}
                </span>
                <span class="entry-category tag is-primary is-medium">
                    {{ entry.category }}
                </span>
                <span>
                    <a v-on:click="deleteEntry(entry._id)" class="delete"></a>
                </span>
            </div>
        </section>
    </main>
</div>
<script src="../js/app.js"></script>
</body>
</html>
